:root {
    --dark-banner-text: black;
    --graph-color: #0077aa;
}

[data-user-color-scheme="dark"] {
    --graph-color: #30a9de;
    --highlight-bg-color: #202730;
}

#subtitle, .typed-cursor {
    font-size: 3rem;
}

.banner-text {
    color: var(--dark-banner-text);
    text-shadow: white 0 0 1.5px;
}

@media (max-width: 479px) {
    .footer-inner {
        padding: 0; /* We have no footer content */
    }
}

/* Mardown blocks */
.markdown-body > pre {
    background-color: var(--highlight-bg-color);
}

/* Graphs */
.mermaid .background {
    fill: var(--highlight-bg-color);
}

.mermaid .chart-title text, .mermaid .left-axis text, .mermaid .bottom-axis text {
    fill: var(--text-color);
}

.mermaid .left-axis path, .mermaid .bottom-axis path {
    stroke: var(--text-color);
}

.mermaid .plot path {
    stroke: var(--graph-color);
}

/* Image Carousel */
.fancybox-thumbs {
    background: var(--highlight-bg-color);
}

.navbar {
    text-shadow: black 0 0 1.5px;
}

.navbar .dropdown-menu {
    min-width: 1rem;
}

.navbar-toggler .animated-icon span {
    box-shadow: black 0 0 1.5px;
}

.navbar-toggler .animated-icon.open span {
    box-shadow: none;
}

.post-meta-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .post-meta-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}